<div style="margin-left: 50px;">
    <form #signinForm="ngForm" (ngSubmit)="save(signinForm.value)" class="signin form-horizontal" autocomplete="off" novalidate>
        <div class="control-group">
            <label for="email" class="control-label">Email</label>

            <div class="controls">
                <input id="email" type="text" [(ngModel)]="email" name="email" required placeholder="Email">
                <em *ngIf="signinForm.controls.email?.invalid && (signinForm.controls.email?.touched || mouseoverLogin)">Required</em>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>

            <div class="controls">
                <input id="password" type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
                <em *ngIf="signinForm.controls.password?.invalid && (signinForm.controls.password?.touched || mouseoverLogin)">Required</em>
            </div>
        </div>
        <div class="form-actions">
            <br>
            <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
            <button type="submit" class="btn btn-primary" [disabled]="signinForm.invalid">Sign in&nbsp;</button></span>
            or&nbsp;<a [routerLink]="['/signup']" class="show-signup">Sign up</a>
        </div>
    </form>
    <br>
    <div [ngStyle]="{'width': '400px'}" *ngIf="invalidLogin" class="alert alert-danger">Invalid Login Info</div>
</div>
