
<h1 class="text-center">Create Todos</h1>
<br>
<form #eventForm="ngForm" (ngSubmit)="eventForm.resetForm(save(eventForm.value))" class="text-center" autocomplete="off" novalidate>
  <div class="row">
  <div class="col-md-2">
    <label for="name">Name:</label>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <input type="text" [(ngModel)]="name" name="name" class="form-control">
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col-md-2">
    <label for="description">Description:</label>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <input type="text" [(ngModel)]="description" name="description" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </div>
  </div>
</div>
</form>

<br><hr>

<div style="margin-left: 100px; width: 500px;">
<h1>All Events</h1>
<br>
<table class="table table-stripped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <tr *ngFor="let event of events">
    <td>{{event.name}}</td>
    <td>{{event.description}}</td>
    <td>
      <button type="button" class="btn btn-danger btn-sm" (click)="delete(event.id)">Delete</button>
    </td>
  </tr>
</table>

</div>

