<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/event']">MEAN Application Angular 2</a>
    </div>
    <ul *ngIf="!navBar" class="nav navbar-nav pull-right">
      <li><a [routerLink]="['/signup']" routerLinkActive="active">SignUp</a></li>
      <li><a [routerLink]="['/signin']" routerLinkActive="active">SignIn</a></li>
    </ul>
    <ul *ngIf="navBar" class="nav navbar-nav pull-right">
      <li><a class="logout" (click)="signout()">Logout</a></li>
    </ul>
  </div>
</nav>
