<div style="margin-left: 50px;">
    <form #signupForm="ngForm" (ngSubmit)="save(signupForm.value)"  class="signup form-horizontal" autocomplete="off">
        <div class="control-group">
            <label for="name" class="control-label">Full name</label>
            <div class="controls">
                <input id="name" type="text" name="name" [(ngModel)]="name" placeholder="Full name" required>
                <em *ngIf="signupForm.controls.name?.invalid && (signupForm.controls.name?.touched || mouseoverLogin)">Required</em>
            </div>
        </div>
        <div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
                <input id="email" type="text" name="email" [(ngModel)]="email" placeholder="Email" required>
                <em *ngIf="signupForm.controls.email?.invalid && (signupForm.controls.email?.touched || mouseoverLogin)">Required</em>
            </div>
        </div>
        <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
                <input id="username" type="text" name="username" [(ngModel)]="username" placeholder="Username" required>
                <em *ngIf="signupForm.controls.username?.invalid && (signupForm.controls.username?.touched || mouseoverLogin)">Required</em>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
                <input id="password" type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
                <em *ngIf="signupForm.controls.password?.invalid && (signupForm.controls.password?.touched || mouseoverLogin)">Required</em>
            </div>
        </div>
        <div class="form-actions">
            <br>
            <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
            <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign up&nbsp;</button>
            </span> or&nbsp;<a [routerLink]="['/signin']" class="show-login">login</a>
        </div>
    </form>
</div>
